    html,body {
      min-width: 200px;
      height: 100%;
      margin: 0;
      background-color: #E5E5E5;
      font-family: 'RobotoDraft', sans-serif;
    }
    core-header-panel {
      height: 100%;
      overflow: auto;
      -webkit-overflow-scrolling: touch; 
    }
    core-toolbar {
      background: #00AA00;
      color: white;
    }

    .container {
      width: 70%;
      margin: 20px auto;
    }
    .layout {
      width: 360px; 
    } 
    @media (min-width: 375px) {
      .container {
        width: 300px;
      }
    }

    #paper_tabs {
      margin: 0px;
      margin-bottom: -15px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      text-transform: uppercase;
    }

    #drawer {
      background-color: #FFFFFF;
    }
    #core_toolbar1 {
      color: #FFFFFF;
      left: 0px;
      top: 0px;
      position: absolute;
      width: 260px;
      height: 180px;
      background-color: #00AA00;
    }

    #paper_item2 {
      left: 16px;
      top: 130px;
      position: absolute;
    }
    #paper_item3 {
      left: 16px;
      top: 100px;
      position: absolute;
    }
    #paper_item4 {
      left: 60px;
      top: 190px;
      position: absolute;
    }
    #paper_item5 {
      left: 60px;
      top: 230px;
      position: absolute;
    }
    #paper_item6 {
      left: 60px;
      top: 270px;
      position: absolute;
    }
    #core_icon {
      left: 40px;
      top: 200px;
      position: absolute;
    }
    #core_icon2 {
      left: 40px;
      top: 240px;
      position: absolute;
    }
    #core_icon3 {
      left: 40px;
      top: 280px;
      position: absolute;
    }
    #core_icon4 {
      height: 64px;
      width: 64px;
      margin: 0px 8px;
      border-radius: 50%;
      overflow: hidden;
      left: 38px;
      top: 30px;
      position: absolute;
    }